@import 'public.less';
html {
    height: 100%;
}
body{
    width: @body-w;
    height: 100%;
    margin: 0 auto;
    background-color: @c-f8f8f8;
}
#app{
    width: @body-w;
    position: relative;
    overflow-x: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clearfix {
    &:after {
        content: "";
        display: block;
        clear: both;
        visibility: hidden;
        height: 0;
    }
}
.clearfix{
    zoom: 1;
} 